/* div~p{
    background-color: aqua;
    color: black;
} */
/* p:hover{
    font-size: xx-large;
    background-color: aqua;
} */

p::after{
    content: "Abes Engineering college ";
    background-color: greenyellow;
    color: grey;

}
p::before{
    content: "We are the student of third year Cs-b";
    background-color: green;
    color: darkgrey;
}

p::selection{
    background-color: gray;
}

p:nth-child(2){
    background-color: blue;
    color: yellow;
}

div p:nth-of-type(1){
    background-color: aqua;
    font-size: x-small;
}